<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- Android 12+ 新权限体系 -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
                     android:usesPermissionFlags="neverForLocation"
                     tools:targetApi="s" />

    <!-- 位置权限,兼容旧版本-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature android:name="android.hardware.bluetooth"
                  android:required="true"/>

    <uses-feature android:name="android.hardware.bluetooth_le"
                  android:required="true"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CAR_CTRL_APP"
        tools:targetApi="31">

        <!-- ControlActivity is the home page (launcher) -->
        <activity
            android:name=".ControlActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/data_panel"
            android:parentActivityName=".ControlActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ControlActivity"/>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_title"
            android:parentActivityName=".ControlActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ControlActivity"/>
        </activity>

        <activity
            android:name=".CalibrationActivity"
            android:label="@string/calibration_title"
            android:parentActivityName=".ControlActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ControlActivity"/>
        </activity>

    </application>

</manifest>
